---
layout: default
title: Training
suppress_header: true
extra_css:
  - training.css
---
.wrapper
  .training-picture-container
    .training-overlay
      .training-content
        %h1.page-headline.text-center Training
        %h2.page-subtitle.text-center We organize training workshops to help your organization implement Git and GitLab quickly.
        %a.training-block.clearfix{href:"/training/learn-gitlab-with-git.html"}
          .row
            .col-xs-1
              =icon("gitlab-ee/icons/1-platform-icon")
            .col-xs-11
              %h3 Learning GitLab with Git Basics
              %p This workshop focuses on how the GitLab UI works and how to integrate it and Git into your workflow.
              %h4 Part 1: GitLab Flow workshop
              %p A GitLab flow workshop help your organization develop a good Git workflow
              %h4 Part 2: Git workshop
              %p A Git workshop covers Git concepts such as committing, branches, merge requests, merge conflicts, tags, cherry-picking, bisecting and rebasing.
        %a.training-block.clearfix{href:"/training/gitlab-administrator-training.html"}
          .row
            .col-xs-1
              =icon("gitlab-ee/icons/9-permissions-icon")
            .col-xs-11
              %h3 GitLab administrator workshop
              %p
                A GitLab administrator workshop covers:
              %ul
                %li GitLab architecture overview
                %li GitLab fundamentals
                %li UI walkthrough
                %li Admin panel
                %li Admin tasks
                %li Backups, troubleshooting
        %a.training-block.clearfix{href:"/training/gitlab-ci-training.html"}
          .row
            .col-xs-1
              =icon("gitlab-ee/icons/12-deployment-icon")
            .col-xs-11
              %h3 GitLab CI
              %p This workshop focuses on how GitLab CI works and how to integrate it into your workflow.
        %p
        %h3 Cost for each workshop is $2,500
        %p
          Workshops are delivered via web-conferencing and are recorded for up to 20 people.
          Each workshop takes approximately 2 hours.
        %p
          We're open to discussing other materials to cover and other durations.
          Please fill out the form below if you are interested.
        %br/
  .centered-form.training-form
    %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
    %form#mktoForm_1415
    :javascript
      MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1415, function(form) {
          form.onSuccess(function(values, followUpUrl) {

            form.getFormElem().hide();
            document.getElementById('confirmform').style.visibility = 'visible';

            dataLayer.push({event: 'mktoLead', mktoFormId: form.getId()});
            return false;
          });
          function getgacid() {
            try {
              var tracker = ga.getAll()[0];
              return tracker.get('clientId');
            } catch (e) {
              return 'n/a';
            }
          }
          form.vals({
            'gacid': getgacid()
          });
      });
    #confirmform{style: "visibility:hidden;"}
      %p Submission received! We'll be in touch shortly.
