@import "vendor/bootstrap/bootstrap/variables";
@import "variables";
@import "sandwich-page-layout";

.landing-container {
  background: url("/images/feature_page/hero-background-overlay-features-page-v2.jpg") center center no-repeat;
  background-size: cover;
  padding-top: 70px;
}

.video-button {
  width: 190px;
  line-height: 60px;

  span {
    margin-right: 3px;
  }
}

.feature-gallery {
  a {
    text-decoration: none;
    font-size: 18px;

    span {
      color: $color-secondary-alt;
      text-decoration: underline;
    }
  }
}

.feature-gallery-alt {
  a {
    span {
      color: $color-secondary;
    }
  }
}

.feature-contents,
.feature-contents-white {
  a {
    color: $color-secondary-alt;
    font-size: 16px;
    text-align: center;
    cursor: pointer;

    &:visited {
      color: $color-secondary-alt;
    }

    &.dark-background-link {
      color: $color-white;

      &:visited,
      &:hover {
        color: $color-secondary-alt;
      }
    }
  }
}

//scss-lint:disable all
.feature-contents-white {
  a {
    color: $color-secondary !important;

    &:visited,
    &:hover {
      color: $color-secondary-alt !important;
    }
  }
}
//scss-lint:enable all

.video-container {
  box-shadow: 0 0 5 3 $features-semi-transparent-black;
  width: 60vw;
  height: 34vw;
  display: none;
}

.compare-other-tools {
  margin-top: 20px;
}

@media(max-width: $screen-xs-max) {
  .video-button {
    margin-top: 50px;
  }

  .video-container {
    width: 380px;
    height: 260px;
    margin-top: 50px;
  }
}

.features-description {
  display: flex;
  flex-wrap: wrap;

  .feature-container {
    padding: 20px 10px;
  }
}

.qnav {
  background: $color-primary;
  position: fixed;
  width: 100%;
  border: 0;
  border-radius: 0;
  min-height: 0;
  z-index: 100;
  transition: all .5s ease;
}

.qnav2 {
  background: $color-primary-alt;
}

.nav-justified > li {
  > a {
    color: $color-white;
    border-radius: 0;
  }

  > a:hover,
  &.active > a,
  &.active > a:hover {
    background: $color-primary;
  }
}


.feature-nav {
  width: 700px;
}
