---
layout: position_page
title: "Product Manager"
salary:
---

<%= partial "includes/positions/product-manager/description" %>
<%= partial "includes/positions/product-manager/responsibilities" %>
<%= partial "includes/positions/product-manager/requirements" %>

<%= partial "includes/positions/product-manager/senior" %>
<%= partial "includes/positions/product-manager/junior" %>

## Specialists
<%= partial "includes/positions/product-manager/ci_cd" %>
<%= partial "includes/positions/product-manager/growth" %>

<%= partial "includes/positions/product-manager/relevant_links" %>
<%= partial "includes/positions/product-manager/hiring_process" %>
